orthologues/data/*
orthologues/__pycache__
orthologues/tests/__pycache__

species_demarcation/data/*
species_demarcation/__pycache__
species_demarcation/tests/__pycache__

core/data/*
core/__pycache__
core/tests/__pycache__

phylogenomic/data/*
phylogenomic/__pycache__
phylogenomic/tests/__pycache__

eggNOG/data/*
eggNOG/__pycache__/
eggNOG/__pycache__/*
eggNOG/tests/__pycache__


smbgc/data/*
smbgc/__pycache__/
smbgc/__pycache__/*
smbgc/tests/__pycache__/
smbgc/tests/__pycache__/*
smbgc/archives

prepare.py
